## FASE 1. Extracción de datos de películas

In [86]:
# importamos todas las librerias necesarias para realizar el ejercicio

import requests
import pandas as pd
import mysql.connector
from mysql.connector import Error
import numpy as np

In [87]:
# extraemos los datos de la API y la guardamos en una variable (en formato JSON)

url = "https://beta.adalab.es/resources/apis/pelis/pelis.json"

datos = requests.get(url)
datos.status_code
datos.content

datos_pelis = datos.json()

## FASE 2. Creación de la base de datos

In [89]:
# Iniciamos la connexion con SQL ---> Se deberá modificar el password acorde con el del usuario que ejecute el codigo. 
try:
    cnx = mysql.connector.connect(
        host='127.0.0.1',
        user='root',
        password='AlumnaAdalab',
    )
    print('Conexión exitosa')
except Error as e:
    print('Error al conectar:', e)

Conexión exitosa

In [90]:
# Creamos la base de datos 

try:
    mycursor = cnx.cursor()
    query = "CREATE DATABASE IF NOT EXISTS films_ejercicio_2"
    mycursor.execute(query)
    print("Query exitosa")
except:
    print("Error.")

Query exitosa

In [ ]:
# para crear las tablas primero debemos revisar los datos del API y analizar que columnas debemos crear.
datos_pelis

In [91]:
mycursor.execute("USE films_ejercicio_2")

mycursor.execute("DROP TABLE IF EXISTS films")

query = '''CREATE TABLE films (
    id INT PRIMARY KEY AUTO_INCREMENT,
    titulo VARCHAR(255) NOT NULL,
    año INT,
    duracion FLOAT,
    genero VARCHAR(255),
    adultos TINYINT(1),
    subtitulos TEXT
);'''

mycursor.execute(query)

## Fase 3. Inserción de los Datos en la Base de datos

In [92]:
#creamos un DF

df_films = pd.DataFrame(datos_pelis)
df_films

# Convertir DataFrame a lista de tuplas
#pd.notna(): Verifica si el valor no es NaN/null antes de insertarlo
#iterrows(): Itera sobre las filas del DataFrame

# Reemplazar NaN con None para que se inserten como NULL en la BD
# Reemplazar NaN con None de forma más robusta
df_films_clean = df_films.replace({np.nan: None, 'nan': None, 'NaN': None})

In [94]:
columnas = ['titulo','año','duracion','genero','adultos','subtitulos']

In [95]:
# Convertir DataFrame directamente a lista de tuplas
datos_films_clean = df_films_clean[columnas].values.tolist()  #selecciono las columnas de las que quiero hacer el insert, así no incorporo el ID

In [96]:
datos_films_clean

[['The Godfather', 1972, 175, 'Crimen', False, ['es', 'en']],
 ['The Godfather Part II', 1974, 202, 'Crimen', False, ['es', 'en']],
 ['Pulp Fiction', 1994, 154, 'Crimen', True, ['es', 'en']],
 ['Forrest Gump', 1994, 142, 'Drama', False, ['es', 'en', 'fr']],
 ['The Dark Knight', 2008, 152, 'Acción', False, ['es', 'en']],
 ['Fight Club', 1999, 139, 'Drama', True, ['es', 'en']],
 ['Inception', 2010, 148, 'Ciencia ficción', False, ['es', 'en', 'de']],
 ['The Matrix', 1999, 136, 'Ciencia ficción', False, ['es', 'en']],
 ['The Shawshank Redemption', 1994, 142, 'Drama', False, ['es', 'en']],
 ['Interstellar', 2014, 169, 'Ciencia ficción', False, ['es', 'en']],
 ['Gladiator', 2000, 155, 'Acción', False, ['es', 'en']],
 ['Titanic', 1997, 195, 'Romance', False, ['es', 'en', 'fr']],
 ['Avatar', 2009, 162, 'Ciencia ficción', False, ['es', 'en']],
 ['Saving Private Ryan', 1998, 169, 'Bélico', True, ['es', 'en']],
 ['The Silence of the Lambs', 1991, 118, 'Thriller', True, ['es', 'en']],
 ['Se7en', 1995, 127, 'Thriller', True, ['es', 'en']],
 ['Goodfellas', 1990, 146, 'Crimen', True, ['es', 'en']],
 ['The Departed', 2006, 151, 'Crimen', True, ['es', 'en']],
 ['Whiplash', 2014, 106, 'Drama', False, ['es', 'en']],
 ['La La Land', 2016, 128, 'Musical', False, ['es', 'en']],
 ['The Lord of the Rings: The Fellowship of the Ring',
  2001,
  178,
  'Fantasía',
  False,
  ['es', 'en']],
 ['The Lord of the Rings: The Two Towers',
  2002,
  179,
  'Fantasía',
  False,
  ['es', 'en']],
 ['The Lord of the Rings: The Return of the King',
  2003,
  201,
  'Fantasía',
  False,
  ['es', 'en']],
 ['Star Wars: A New Hope', 1977, 121, 'Ciencia ficción', False, ['es', 'en']],
 ['Star Wars: The Empire Strikes Back',
  1980,
  124,
  'Ciencia ficción',
  False,
  ['es', 'en']],
 ['Star Wars: Return of the Jedi',
  1983,
  131,
  'Ciencia ficción',
  False,
  ['es', 'en']],
 ['Back to the Future', 1985, 116, 'Aventura', False, ['es', 'en']],
 ['Jurassic Park', 1993, 127, 'Aventura', False, ['es', 'en']],
 ['The Lion King', 1994, 88, 'Animación', False, ['es', 'en']],
 ['Toy Story', 1995, 81, 'Animación', False, ['es', 'en']],
 ['Finding Nemo', 2003, 100, 'Animación', False, ['es', 'en']],
 ['Shrek', 2001, 90, 'Animación', False, ['es', 'en']],
 ['The Incredibles', 2004, 115, 'Animación', False, ['es', 'en']],
 ['WALL·E', 2008, 98, 'Animación', False, ['es', 'en']],
 ['Up', 2009, 96, 'Animación', False, ['es', 'en']],
 ['Spirited Away', 2001, 125, 'Animación', False, ['es', 'en', 'jp']],
 ['Princess Mononoke', 1997, 134, 'Animación', True, ['es', 'en', 'jp']],
 ['The Green Mile', 1999, 189, 'Drama', True, ['es', 'en']],
 ['The Truman Show', 1998, 103, 'Drama', False, ['es', 'en']],
 ['The Social Network', 2010, 120, 'Drama', False, ['es', 'en']],
 ['Joker', 2019, 122, 'Drama', True, ['es', 'en']],
 ['Black Panther', 2018, 134, 'Acción', False, ['es', 'en']],
 ['Iron Man', 2008, 126, 'Acción', False, ['es', 'en']],
 ['The Avengers', 2012, 143, 'Acción', False, ['es', 'en']],
 ['Avengers: Endgame', 2019, 181, 'Acción', False, ['es', 'en']],
 ['Dune', 2021, 155, 'Ciencia ficción', False, ['es', 'en']],
 ['Mad Max: Fury Road', 2015, 120, 'Acción', True, ['es', 'en']],
 ['The Revenant', 2015, 156, 'Aventura', True, ['es', 'en']],
 ['Parasite', 2019, 132, 'Thriller', True, ['es', 'en', 'ko']],
 ['Oldboy', 2003, 120, 'Thriller', True, ['es', 'en', 'ko']],
 ['The Pianist', 2002, 150, 'Drama', True, ['es', 'en']],
 ['The Wolf of Wall Street', 2013, 180, 'Biografía', True, ['es', 'en']],
 ['Her', 2013, 126, 'Drama', False, ['es', 'en']],
 ['Gravity', 2013, 91, 'Ciencia ficción', False, ['es', 'en']],
 ['The Shape of Water', 2017, 123, 'Fantasía', True, ['es', 'en']],
 ['Get Out', 2017, 104, 'Terror', True, ['es', 'en']],
 ['It', 2017, 135, 'Terror', True, ['es', 'en']],
 ['The Conjuring', 2013, 112, 'Terror', True, ['es', 'en']],
 ['A Quiet Place', 2018, 90, 'Terror', False, ['es', 'en']],
 ['The Exorcist', 1973, 122, 'Terror', True, ['es', 'en']],
 ['The Shining', 1980, 144, 'Terror', True, ['es', 'en']],
 ['Blade Runner', 1982, 117, 'Ciencia ficción', True, ['es', 'en']],
 ['Blade Runner 2049', 2017, 164, 'Ciencia ficción', True, ['es', 'en']],
 ['Alien', 1979, 117, 'Ciencia ficción', True, ['es', 'en']],
 ['Aliens', 1986, 137, 'Ciencia ficción', True, ['es', 'en']],
 ['The Terminator', 1984, 107, 'Acción', True, ['es', 'en']],
 ['Terminator 2: Judgment Day', 1991, 137, 'Acción', False, ['es', 'en']],
 ['Rocky', 1976, 120, 'Drama', False, ['es', 'en']],
 ['Raging Bull', 1980, 129, 'Biografía', True, ['es', 'en']],
 ['Taxi Driver', 1976, 113, 'Drama', True, ['es', 'en']],
 ['Casablanca', 1942, 102, 'Romance', False, ['es', 'en']],
 ['Citizen Kane', 1941, 119, 'Drama', False, ['es', 'en']],
 ['Psycho', 1960, 109, 'Terror', True, ['es', 'en']],
 ['Vertigo', 1958, 128, 'Suspense', False, ['es', 'en']],
 ['Rear Window', 1954, 112, 'Suspense', False, ['es', 'en']],
 ['12 Angry Men', 1957, 96, 'Drama', False, ['es', 'en']],
 ["Schindler's List", 1993, 195, 'Drama', True, ['es', 'en']],
 ['American Beauty', 1999, 122, 'Drama', True, ['es', 'en']],
 ['No Country for Old Men', 2007, 122, 'Crimen', True, ['es', 'en']],
 ['The Big Lebowski', 1998, 117, 'Comedia', True, ['es', 'en']],
 ['Amélie', 2001, 122, 'Romance', False, ['es', 'en', 'fr']],
 ['The Intouchables', 2011, 112, 'Drama', False, ['es', 'en', 'fr']],
 ['City of God', 2002, 130, 'Crimen', True, ['es', 'en', 'pt']],
 ["Pan's Labyrinth", 2006, 118, 'Fantasía', True, ['es', 'en']],
 ['Roma', 2018, 135, 'Drama', True, ['es', 'en']],
 ['Slumdog Millionaire', 2008, 120, 'Drama', False, ['es', 'en']],
 ['Million Dollar Baby', 2004, 132, 'Drama', True, ['es', 'en']],
 ["The King's Speech", 2010, 118, 'Biografía', False, ['es', 'en']],
 ['Argo', 2012, 120, 'Thriller', False, ['es', 'en']],
 ['Moonlight', 2016, 111, 'Drama', True, ['es', 'en']],
 ['Manchester by the Sea', 2016, 137, 'Drama', True, ['es', 'en']],
 ['Birdman', 2014, 119, 'Drama', True, ['es', 'en']],
 ['Django Unchained', 2012, 165, 'Western', True, ['es', 'en']],
 ['Inglourious Basterds', 2009, 153, 'Bélico', True, ['es', 'en']],
 ['The Hateful Eight', 2015, 168, 'Western', True, ['es', 'en']],
 ['La vita è bella', 1997, 116, 'Drama', False, ['es', 'en', 'it']],
 ['Requiem for a Dream', 2000, 102, 'Drama', True, ['es', 'en']],
 ['Memento', 2000, 113, 'Thriller', True, ['es', 'en']],
 ['Eternal Sunshine of the Spotless Mind',
  2004,
  108,
  'Drama',
  False,
  ['es', 'en']],
 ['Donnie Darko', 2001, 113, 'Drama', True, ['es', 'en']]]

In [97]:
# BOLEANOS. En SQL se representan con el TINYINT que es 1 o 0 , por lo que la columna de ADULTOS debemos cambiarla para que nos devuelva 0 o 1.
df_films_clean['adultos'] = df_films_clean['adultos'].apply(lambda x: int(x))

In [98]:
# para poder insertar los datos, debe estar en formato lista. En este momento, los datos contenidos en "subtitulos" es una lista. Deberiamos pasarlo a string
df_films_clean['subtitulos'] = df_films_clean['subtitulos'].apply(
    lambda x: ",".join(x) if isinstance(x, list) else x )

In [100]:
df_films_clean  #comprobamos que adultos nos devuelve 0 o 1 y que los subtitulos ya no es una lista (deberiamos crear una tabla con los idiomas en los subtitulos???)

,id,titulo,año,duracion,genero,adultos,subtitulos
0,1,The Godfather,1972,175,Crimen,0,"es,en"
1,2,The Godfather Part II,1974,202,Crimen,0,"es,en"
2,3,Pulp Fiction,1994,154,Crimen,1,"es,en"
3,4,Forrest Gump,1994,142,Drama,0,"es,en,fr"
4,5,The Dark Knight,2008,152,Acción,0,"es,en"
...,...,...,...,...,...,...,...
95,96,La vita è bella,1997,116,Drama,0,"es,en,it"
96,97,Requiem for a Dream,2000,102,Drama,1,"es,en"
97,98,Memento,2000,113,Thriller,1,"es,en"
98,99,Eternal Sunshine of the Spotless Mind,2004,108,Drama,0,"es,en"
99,100,Donnie Darko,2001,113,Drama,1,"es,en"

In [101]:
datos_films = df_films_clean[columnas].values.tolist()

In [102]:
datos_films

[['The Godfather', 1972, 175, 'Crimen', 0, 'es,en'],
 ['The Godfather Part II', 1974, 202, 'Crimen', 0, 'es,en'],
 ['Pulp Fiction', 1994, 154, 'Crimen', 1, 'es,en'],
 ['Forrest Gump', 1994, 142, 'Drama', 0, 'es,en,fr'],
 ['The Dark Knight', 2008, 152, 'Acción', 0, 'es,en'],
 ['Fight Club', 1999, 139, 'Drama', 1, 'es,en'],
 ['Inception', 2010, 148, 'Ciencia ficción', 0, 'es,en,de'],
 ['The Matrix', 1999, 136, 'Ciencia ficción', 0, 'es,en'],
 ['The Shawshank Redemption', 1994, 142, 'Drama', 0, 'es,en'],
 ['Interstellar', 2014, 169, 'Ciencia ficción', 0, 'es,en'],
 ['Gladiator', 2000, 155, 'Acción', 0, 'es,en'],
 ['Titanic', 1997, 195, 'Romance', 0, 'es,en,fr'],
 ['Avatar', 2009, 162, 'Ciencia ficción', 0, 'es,en'],
 ['Saving Private Ryan', 1998, 169, 'Bélico', 1, 'es,en'],
 ['The Silence of the Lambs', 1991, 118, 'Thriller', 1, 'es,en'],
 ['Se7en', 1995, 127, 'Thriller', 1, 'es,en'],
 ['Goodfellas', 1990, 146, 'Crimen', 1, 'es,en'],
 ['The Departed', 2006, 151, 'Crimen', 1, 'es,en'],
 ['Whiplash', 2014, 106, 'Drama', 0, 'es,en'],
 ['La La Land', 2016, 128, 'Musical', 0, 'es,en'],
 ['The Lord of the Rings: The Fellowship of the Ring',
  2001,
  178,
  'Fantasía',
  0,
  'es,en'],
 ['The Lord of the Rings: The Two Towers', 2002, 179, 'Fantasía', 0, 'es,en'],
 ['The Lord of the Rings: The Return of the King',
  2003,
  201,
  'Fantasía',
  0,
  'es,en'],
 ['Star Wars: A New Hope', 1977, 121, 'Ciencia ficción', 0, 'es,en'],
 ['Star Wars: The Empire Strikes Back',
  1980,
  124,
  'Ciencia ficción',
  0,
  'es,en'],
 ['Star Wars: Return of the Jedi', 1983, 131, 'Ciencia ficción', 0, 'es,en'],
 ['Back to the Future', 1985, 116, 'Aventura', 0, 'es,en'],
 ['Jurassic Park', 1993, 127, 'Aventura', 0, 'es,en'],
 ['The Lion King', 1994, 88, 'Animación', 0, 'es,en'],
 ['Toy Story', 1995, 81, 'Animación', 0, 'es,en'],
 ['Finding Nemo', 2003, 100, 'Animación', 0, 'es,en'],
 ['Shrek', 2001, 90, 'Animación', 0, 'es,en'],
 ['The Incredibles', 2004, 115, 'Animación', 0, 'es,en'],
 ['WALL·E', 2008, 98, 'Animación', 0, 'es,en'],
 ['Up', 2009, 96, 'Animación', 0, 'es,en'],
 ['Spirited Away', 2001, 125, 'Animación', 0, 'es,en,jp'],
 ['Princess Mononoke', 1997, 134, 'Animación', 1, 'es,en,jp'],
 ['The Green Mile', 1999, 189, 'Drama', 1, 'es,en'],
 ['The Truman Show', 1998, 103, 'Drama', 0, 'es,en'],
 ['The Social Network', 2010, 120, 'Drama', 0, 'es,en'],
 ['Joker', 2019, 122, 'Drama', 1, 'es,en'],
 ['Black Panther', 2018, 134, 'Acción', 0, 'es,en'],
 ['Iron Man', 2008, 126, 'Acción', 0, 'es,en'],
 ['The Avengers', 2012, 143, 'Acción', 0, 'es,en'],
 ['Avengers: Endgame', 2019, 181, 'Acción', 0, 'es,en'],
 ['Dune', 2021, 155, 'Ciencia ficción', 0, 'es,en'],
 ['Mad Max: Fury Road', 2015, 120, 'Acción', 1, 'es,en'],
 ['The Revenant', 2015, 156, 'Aventura', 1, 'es,en'],
 ['Parasite', 2019, 132, 'Thriller', 1, 'es,en,ko'],
 ['Oldboy', 2003, 120, 'Thriller', 1, 'es,en,ko'],
 ['The Pianist', 2002, 150, 'Drama', 1, 'es,en'],
 ['The Wolf of Wall Street', 2013, 180, 'Biografía', 1, 'es,en'],
 ['Her', 2013, 126, 'Drama', 0, 'es,en'],
 ['Gravity', 2013, 91, 'Ciencia ficción', 0, 'es,en'],
 ['The Shape of Water', 2017, 123, 'Fantasía', 1, 'es,en'],
 ['Get Out', 2017, 104, 'Terror', 1, 'es,en'],
 ['It', 2017, 135, 'Terror', 1, 'es,en'],
 ['The Conjuring', 2013, 112, 'Terror', 1, 'es,en'],
 ['A Quiet Place', 2018, 90, 'Terror', 0, 'es,en'],
 ['The Exorcist', 1973, 122, 'Terror', 1, 'es,en'],
 ['The Shining', 1980, 144, 'Terror', 1, 'es,en'],
 ['Blade Runner', 1982, 117, 'Ciencia ficción', 1, 'es,en'],
 ['Blade Runner 2049', 2017, 164, 'Ciencia ficción', 1, 'es,en'],
 ['Alien', 1979, 117, 'Ciencia ficción', 1, 'es,en'],
 ['Aliens', 1986, 137, 'Ciencia ficción', 1, 'es,en'],
 ['The Terminator', 1984, 107, 'Acción', 1, 'es,en'],
 ['Terminator 2: Judgment Day', 1991, 137, 'Acción', 0, 'es,en'],
 ['Rocky', 1976, 120, 'Drama', 0, 'es,en'],
 ['Raging Bull', 1980, 129, 'Biografía', 1, 'es,en'],
 ['Taxi Driver', 1976, 113, 'Drama', 1, 'es,en'],
 ['Casablanca', 1942, 102, 'Romance', 0, 'es,en'],
 ['Citizen Kane', 1941, 119, 'Drama', 0, 'es,en'],
 ['Psycho', 1960, 109, 'Terror', 1, 'es,en'],
 ['Vertigo', 1958, 128, 'Suspense', 0, 'es,en'],
 ['Rear Window', 1954, 112, 'Suspense', 0, 'es,en'],
 ['12 Angry Men', 1957, 96, 'Drama', 0, 'es,en'],
 ["Schindler's List", 1993, 195, 'Drama', 1, 'es,en'],
 ['American Beauty', 1999, 122, 'Drama', 1, 'es,en'],
 ['No Country for Old Men', 2007, 122, 'Crimen', 1, 'es,en'],
 ['The Big Lebowski', 1998, 117, 'Comedia', 1, 'es,en'],
 ['Amélie', 2001, 122, 'Romance', 0, 'es,en,fr'],
 ['The Intouchables', 2011, 112, 'Drama', 0, 'es,en,fr'],
 ['City of God', 2002, 130, 'Crimen', 1, 'es,en,pt'],
 ["Pan's Labyrinth", 2006, 118, 'Fantasía', 1, 'es,en'],
 ['Roma', 2018, 135, 'Drama', 1, 'es,en'],
 ['Slumdog Millionaire', 2008, 120, 'Drama', 0, 'es,en'],
 ['Million Dollar Baby', 2004, 132, 'Drama', 1, 'es,en'],
 ["The King's Speech", 2010, 118, 'Biografía', 0, 'es,en'],
 ['Argo', 2012, 120, 'Thriller', 0, 'es,en'],
 ['Moonlight', 2016, 111, 'Drama', 1, 'es,en'],
 ['Manchester by the Sea', 2016, 137, 'Drama', 1, 'es,en'],
 ['Birdman', 2014, 119, 'Drama', 1, 'es,en'],
 ['Django Unchained', 2012, 165, 'Western', 1, 'es,en'],
 ['Inglourious Basterds', 2009, 153, 'Bélico', 1, 'es,en'],
 ['The Hateful Eight', 2015, 168, 'Western', 1, 'es,en'],
 ['La vita è bella', 1997, 116, 'Drama', 0, 'es,en,it'],
 ['Requiem for a Dream', 2000, 102, 'Drama', 1, 'es,en'],
 ['Memento', 2000, 113, 'Thriller', 1, 'es,en'],
 ['Eternal Sunshine of the Spotless Mind', 2004, 108, 'Drama', 0, 'es,en'],
 ['Donnie Darko', 2001, 113, 'Drama', 1, 'es,en']]

In [103]:
# Query de inserción
query_insert = """
INSERT INTO films (titulo, año, duracion, genero, adultos, subtitulos)
                              
VALUES (%s, %s, %s, %s, %s, %s)
"""

In [104]:
# Ejecutar inserción
mycursor.executemany(query_insert, datos_films)
cnx.commit()

print(f"{mycursor.rowcount} registros insertados")

print(f"{mycursor.rowcount} registros insertados")

100 registros insertados
100 registros insertados

## FASE 4. Obtener información a partir de los datos.