## FASE 1. Extracción de datos de películas

In [1]:
# importamos todas las librerias necesarias para realizar el ejercicio

import requests
import pandas as pd
import mysql.connector
from mysql.connector import Error
import numpy as np

In [2]:
# extraemos los datos de la API y la guardamos en una variable (en formato JSON)

url = "https://beta.adalab.es/resources/apis/pelis/pelis.json"

datos = requests.get(url)
datos.status_code
datos.content

datos_pelis = datos.json()

## FASE 2. Creación de la base de datos

In [3]:
# Iniciamos la connexion con SQL ---> Se deberá modificar el password acorde con el del usuario que ejecute el codigo. 
try:
    cnx = mysql.connector.connect(
        host='127.0.0.1',
        user='root',
        password='AlumnaAdalab',   
    )
    print('Conexión exitosa')
except Error as e:
    print('Error al conectar:', e)

Conexión exitosa

In [4]:
# Creamos la base de datos 

try:
    mycursor = cnx.cursor()
    query = "CREATE DATABASE IF NOT EXISTS films_ejercicio_2"
    mycursor.execute(query)
    print("Query exitosa")
except:
    print("Error.")

Query exitosa

In [ ]:
# para crear las tablas primero debemos revisar los datos del API y analizar que columnas debemos crear.
datos_pelis

In [5]:
# Creamos la tabla 

mycursor.execute("USE films_ejercicio_2")

mycursor.execute("DROP TABLE IF EXISTS films") #añado el drop table if exists por si tengo que volver a ejecutar el codigo con alguna modificacion

query = '''CREATE TABLE films (
    id INT PRIMARY KEY AUTO_INCREMENT,
    titulo VARCHAR(255) NOT NULL,
    año INT,
    duracion FLOAT,
    genero VARCHAR(255),
    adultos TINYINT(1),
    subtitulos TEXT
);'''

mycursor.execute(query)

## Fase 3. Inserción de los Datos en la Base de datos

In [7]:
#creamos un DF
df_films = pd.DataFrame(datos_pelis)


# Reemplazar NaN con None para que se inserten como NULL en la BD
df_films_clean = df_films.replace({np.nan: None, 'nan': None, 'NaN': None})

In [8]:
# Convertir DataFrame directamente a lista de tuplas

datos_films_clean = df_films_clean.values.tolist()

In [9]:
datos_films_clean

[[1, 'The Godfather', 1972, 175, 'Crimen', False, ['es', 'en']],
 [2, 'The Godfather Part II', 1974, 202, 'Crimen', False, ['es', 'en']],
 [3, 'Pulp Fiction', 1994, 154, 'Crimen', True, ['es', 'en']],
 [4, 'Forrest Gump', 1994, 142, 'Drama', False, ['es', 'en', 'fr']],
 [5, 'The Dark Knight', 2008, 152, 'Acción', False, ['es', 'en']],
 [6, 'Fight Club', 1999, 139, 'Drama', True, ['es', 'en']],
 [7, 'Inception', 2010, 148, 'Ciencia ficción', False, ['es', 'en', 'de']],
 [8, 'The Matrix', 1999, 136, 'Ciencia ficción', False, ['es', 'en']],
 [9, 'The Shawshank Redemption', 1994, 142, 'Drama', False, ['es', 'en']],
 [10, 'Interstellar', 2014, 169, 'Ciencia ficción', False, ['es', 'en']],
 [11, 'Gladiator', 2000, 155, 'Acción', False, ['es', 'en']],
 [12, 'Titanic', 1997, 195, 'Romance', False, ['es', 'en', 'fr']],
 [13, 'Avatar', 2009, 162, 'Ciencia ficción', False, ['es', 'en']],
 [14, 'Saving Private Ryan', 1998, 169, 'Bélico', True, ['es', 'en']],
 [15, 'The Silence of the Lambs', 1991, 118, 'Thriller', True, ['es', 'en']],
 [16, 'Se7en', 1995, 127, 'Thriller', True, ['es', 'en']],
 [17, 'Goodfellas', 1990, 146, 'Crimen', True, ['es', 'en']],
 [18, 'The Departed', 2006, 151, 'Crimen', True, ['es', 'en']],
 [19, 'Whiplash', 2014, 106, 'Drama', False, ['es', 'en']],
 [20, 'La La Land', 2016, 128, 'Musical', False, ['es', 'en']],
 [21,
  'The Lord of the Rings: The Fellowship of the Ring',
  2001,
  178,
  'Fantasía',
  False,
  ['es', 'en']],
 [22,
  'The Lord of the Rings: The Two Towers',
  2002,
  179,
  'Fantasía',
  False,
  ['es', 'en']],
 [23,
  'The Lord of the Rings: The Return of the King',
  2003,
  201,
  'Fantasía',
  False,
  ['es', 'en']],
 [24,
  'Star Wars: A New Hope',
  1977,
  121,
  'Ciencia ficción',
  False,
  ['es', 'en']],
 [25,
  'Star Wars: The Empire Strikes Back',
  1980,
  124,
  'Ciencia ficción',
  False,
  ['es', 'en']],
 [26,
  'Star Wars: Return of the Jedi',
  1983,
  131,
  'Ciencia ficción',
  False,
  ['es', 'en']],
 [27, 'Back to the Future', 1985, 116, 'Aventura', False, ['es', 'en']],
 [28, 'Jurassic Park', 1993, 127, 'Aventura', False, ['es', 'en']],
 [29, 'The Lion King', 1994, 88, 'Animación', False, ['es', 'en']],
 [30, 'Toy Story', 1995, 81, 'Animación', False, ['es', 'en']],
 [31, 'Finding Nemo', 2003, 100, 'Animación', False, ['es', 'en']],
 [32, 'Shrek', 2001, 90, 'Animación', False, ['es', 'en']],
 [33, 'The Incredibles', 2004, 115, 'Animación', False, ['es', 'en']],
 [34, 'WALL·E', 2008, 98, 'Animación', False, ['es', 'en']],
 [35, 'Up', 2009, 96, 'Animación', False, ['es', 'en']],
 [36, 'Spirited Away', 2001, 125, 'Animación', False, ['es', 'en', 'jp']],
 [37, 'Princess Mononoke', 1997, 134, 'Animación', True, ['es', 'en', 'jp']],
 [38, 'The Green Mile', 1999, 189, 'Drama', True, ['es', 'en']],
 [39, 'The Truman Show', 1998, 103, 'Drama', False, ['es', 'en']],
 [40, 'The Social Network', 2010, 120, 'Drama', False, ['es', 'en']],
 [41, 'Joker', 2019, 122, 'Drama', True, ['es', 'en']],
 [42, 'Black Panther', 2018, 134, 'Acción', False, ['es', 'en']],
 [43, 'Iron Man', 2008, 126, 'Acción', False, ['es', 'en']],
 [44, 'The Avengers', 2012, 143, 'Acción', False, ['es', 'en']],
 [45, 'Avengers: Endgame', 2019, 181, 'Acción', False, ['es', 'en']],
 [46, 'Dune', 2021, 155, 'Ciencia ficción', False, ['es', 'en']],
 [47, 'Mad Max: Fury Road', 2015, 120, 'Acción', True, ['es', 'en']],
 [48, 'The Revenant', 2015, 156, 'Aventura', True, ['es', 'en']],
 [49, 'Parasite', 2019, 132, 'Thriller', True, ['es', 'en', 'ko']],
 [50, 'Oldboy', 2003, 120, 'Thriller', True, ['es', 'en', 'ko']],
 [51, 'The Pianist', 2002, 150, 'Drama', True, ['es', 'en']],
 [52, 'The Wolf of Wall Street', 2013, 180, 'Biografía', True, ['es', 'en']],
 [53, 'Her', 2013, 126, 'Drama', False, ['es', 'en']],
 [54, 'Gravity', 2013, 91, 'Ciencia ficción', False, ['es', 'en']],
 [55, 'The Shape of Water', 2017, 123, 'Fantasía', True, ['es', 'en']],
 [56, 'Get Out', 2017, 104, 'Terror', True, ['es', 'en']],
 [57, 'It', 2017, 135, 'Terror', True, ['es', 'en']],
 [58, 'The Conjuring', 2013, 112, 'Terror', True, ['es', 'en']],
 [59, 'A Quiet Place', 2018, 90, 'Terror', False, ['es', 'en']],
 [60, 'The Exorcist', 1973, 122, 'Terror', True, ['es', 'en']],
 [61, 'The Shining', 1980, 144, 'Terror', True, ['es', 'en']],
 [62, 'Blade Runner', 1982, 117, 'Ciencia ficción', True, ['es', 'en']],
 [63, 'Blade Runner 2049', 2017, 164, 'Ciencia ficción', True, ['es', 'en']],
 [64, 'Alien', 1979, 117, 'Ciencia ficción', True, ['es', 'en']],
 [65, 'Aliens', 1986, 137, 'Ciencia ficción', True, ['es', 'en']],
 [66, 'The Terminator', 1984, 107, 'Acción', True, ['es', 'en']],
 [67, 'Terminator 2: Judgment Day', 1991, 137, 'Acción', False, ['es', 'en']],
 [68, 'Rocky', 1976, 120, 'Drama', False, ['es', 'en']],
 [69, 'Raging Bull', 1980, 129, 'Biografía', True, ['es', 'en']],
 [70, 'Taxi Driver', 1976, 113, 'Drama', True, ['es', 'en']],
 [71, 'Casablanca', 1942, 102, 'Romance', False, ['es', 'en']],
 [72, 'Citizen Kane', 1941, 119, 'Drama', False, ['es', 'en']],
 [73, 'Psycho', 1960, 109, 'Terror', True, ['es', 'en']],
 [74, 'Vertigo', 1958, 128, 'Suspense', False, ['es', 'en']],
 [75, 'Rear Window', 1954, 112, 'Suspense', False, ['es', 'en']],
 [76, '12 Angry Men', 1957, 96, 'Drama', False, ['es', 'en']],
 [77, "Schindler's List", 1993, 195, 'Drama', True, ['es', 'en']],
 [78, 'American Beauty', 1999, 122, 'Drama', True, ['es', 'en']],
 [79, 'No Country for Old Men', 2007, 122, 'Crimen', True, ['es', 'en']],
 [80, 'The Big Lebowski', 1998, 117, 'Comedia', True, ['es', 'en']],
 [81, 'Amélie', 2001, 122, 'Romance', False, ['es', 'en', 'fr']],
 [82, 'The Intouchables', 2011, 112, 'Drama', False, ['es', 'en', 'fr']],
 [83, 'City of God', 2002, 130, 'Crimen', True, ['es', 'en', 'pt']],
 [84, "Pan's Labyrinth", 2006, 118, 'Fantasía', True, ['es', 'en']],
 [85, 'Roma', 2018, 135, 'Drama', True, ['es', 'en']],
 [86, 'Slumdog Millionaire', 2008, 120, 'Drama', False, ['es', 'en']],
 [87, 'Million Dollar Baby', 2004, 132, 'Drama', True, ['es', 'en']],
 [88, "The King's Speech", 2010, 118, 'Biografía', False, ['es', 'en']],
 [89, 'Argo', 2012, 120, 'Thriller', False, ['es', 'en']],
 [90, 'Moonlight', 2016, 111, 'Drama', True, ['es', 'en']],
 [91, 'Manchester by the Sea', 2016, 137, 'Drama', True, ['es', 'en']],
 [92, 'Birdman', 2014, 119, 'Drama', True, ['es', 'en']],
 [93, 'Django Unchained', 2012, 165, 'Western', True, ['es', 'en']],
 [94, 'Inglourious Basterds', 2009, 153, 'Bélico', True, ['es', 'en']],
 [95, 'The Hateful Eight', 2015, 168, 'Western', True, ['es', 'en']],
 [96, 'La vita è bella', 1997, 116, 'Drama', False, ['es', 'en', 'it']],
 [97, 'Requiem for a Dream', 2000, 102, 'Drama', True, ['es', 'en']],
 [98, 'Memento', 2000, 113, 'Thriller', True, ['es', 'en']],
 [99,
  'Eternal Sunshine of the Spotless Mind',
  2004,
  108,
  'Drama',
  False,
  ['es', 'en']],
 [100, 'Donnie Darko', 2001, 113, 'Drama', True, ['es', 'en']]]

In [10]:
# para poder insertar los datos a SQL, debe estar en formato lista. 
# En este momento, los datos contenidos en "subtitulos" nos darian error dado que es una lista dentro de una lista.
# Una opción es pasar el contenido a String
df_films_clean['subtitulos'] = df_films_clean['subtitulos'].apply(
    lambda x: ", ".join(x) if isinstance(x, list) else x )

In [11]:
#ahora sí, podemos pasar los datos del dataFrame a lista para poder insertarlo a la tabla
datos_films = df_films_clean.values.tolist()

In [12]:
datos_films

[[1, 'The Godfather', 1972, 175, 'Crimen', False, 'es, en'],
 [2, 'The Godfather Part II', 1974, 202, 'Crimen', False, 'es, en'],
 [3, 'Pulp Fiction', 1994, 154, 'Crimen', True, 'es, en'],
 [4, 'Forrest Gump', 1994, 142, 'Drama', False, 'es, en, fr'],
 [5, 'The Dark Knight', 2008, 152, 'Acción', False, 'es, en'],
 [6, 'Fight Club', 1999, 139, 'Drama', True, 'es, en'],
 [7, 'Inception', 2010, 148, 'Ciencia ficción', False, 'es, en, de'],
 [8, 'The Matrix', 1999, 136, 'Ciencia ficción', False, 'es, en'],
 [9, 'The Shawshank Redemption', 1994, 142, 'Drama', False, 'es, en'],
 [10, 'Interstellar', 2014, 169, 'Ciencia ficción', False, 'es, en'],
 [11, 'Gladiator', 2000, 155, 'Acción', False, 'es, en'],
 [12, 'Titanic', 1997, 195, 'Romance', False, 'es, en, fr'],
 [13, 'Avatar', 2009, 162, 'Ciencia ficción', False, 'es, en'],
 [14, 'Saving Private Ryan', 1998, 169, 'Bélico', True, 'es, en'],
 [15, 'The Silence of the Lambs', 1991, 118, 'Thriller', True, 'es, en'],
 [16, 'Se7en', 1995, 127, 'Thriller', True, 'es, en'],
 [17, 'Goodfellas', 1990, 146, 'Crimen', True, 'es, en'],
 [18, 'The Departed', 2006, 151, 'Crimen', True, 'es, en'],
 [19, 'Whiplash', 2014, 106, 'Drama', False, 'es, en'],
 [20, 'La La Land', 2016, 128, 'Musical', False, 'es, en'],
 [21,
  'The Lord of the Rings: The Fellowship of the Ring',
  2001,
  178,
  'Fantasía',
  False,
  'es, en'],
 [22,
  'The Lord of the Rings: The Two Towers',
  2002,
  179,
  'Fantasía',
  False,
  'es, en'],
 [23,
  'The Lord of the Rings: The Return of the King',
  2003,
  201,
  'Fantasía',
  False,
  'es, en'],
 [24, 'Star Wars: A New Hope', 1977, 121, 'Ciencia ficción', False, 'es, en'],
 [25,
  'Star Wars: The Empire Strikes Back',
  1980,
  124,
  'Ciencia ficción',
  False,
  'es, en'],
 [26,
  'Star Wars: Return of the Jedi',
  1983,
  131,
  'Ciencia ficción',
  False,
  'es, en'],
 [27, 'Back to the Future', 1985, 116, 'Aventura', False, 'es, en'],
 [28, 'Jurassic Park', 1993, 127, 'Aventura', False, 'es, en'],
 [29, 'The Lion King', 1994, 88, 'Animación', False, 'es, en'],
 [30, 'Toy Story', 1995, 81, 'Animación', False, 'es, en'],
 [31, 'Finding Nemo', 2003, 100, 'Animación', False, 'es, en'],
 [32, 'Shrek', 2001, 90, 'Animación', False, 'es, en'],
 [33, 'The Incredibles', 2004, 115, 'Animación', False, 'es, en'],
 [34, 'WALL·E', 2008, 98, 'Animación', False, 'es, en'],
 [35, 'Up', 2009, 96, 'Animación', False, 'es, en'],
 [36, 'Spirited Away', 2001, 125, 'Animación', False, 'es, en, jp'],
 [37, 'Princess Mononoke', 1997, 134, 'Animación', True, 'es, en, jp'],
 [38, 'The Green Mile', 1999, 189, 'Drama', True, 'es, en'],
 [39, 'The Truman Show', 1998, 103, 'Drama', False, 'es, en'],
 [40, 'The Social Network', 2010, 120, 'Drama', False, 'es, en'],
 [41, 'Joker', 2019, 122, 'Drama', True, 'es, en'],
 [42, 'Black Panther', 2018, 134, 'Acción', False, 'es, en'],
 [43, 'Iron Man', 2008, 126, 'Acción', False, 'es, en'],
 [44, 'The Avengers', 2012, 143, 'Acción', False, 'es, en'],
 [45, 'Avengers: Endgame', 2019, 181, 'Acción', False, 'es, en'],
 [46, 'Dune', 2021, 155, 'Ciencia ficción', False, 'es, en'],
 [47, 'Mad Max: Fury Road', 2015, 120, 'Acción', True, 'es, en'],
 [48, 'The Revenant', 2015, 156, 'Aventura', True, 'es, en'],
 [49, 'Parasite', 2019, 132, 'Thriller', True, 'es, en, ko'],
 [50, 'Oldboy', 2003, 120, 'Thriller', True, 'es, en, ko'],
 [51, 'The Pianist', 2002, 150, 'Drama', True, 'es, en'],
 [52, 'The Wolf of Wall Street', 2013, 180, 'Biografía', True, 'es, en'],
 [53, 'Her', 2013, 126, 'Drama', False, 'es, en'],
 [54, 'Gravity', 2013, 91, 'Ciencia ficción', False, 'es, en'],
 [55, 'The Shape of Water', 2017, 123, 'Fantasía', True, 'es, en'],
 [56, 'Get Out', 2017, 104, 'Terror', True, 'es, en'],
 [57, 'It', 2017, 135, 'Terror', True, 'es, en'],
 [58, 'The Conjuring', 2013, 112, 'Terror', True, 'es, en'],
 [59, 'A Quiet Place', 2018, 90, 'Terror', False, 'es, en'],
 [60, 'The Exorcist', 1973, 122, 'Terror', True, 'es, en'],
 [61, 'The Shining', 1980, 144, 'Terror', True, 'es, en'],
 [62, 'Blade Runner', 1982, 117, 'Ciencia ficción', True, 'es, en'],
 [63, 'Blade Runner 2049', 2017, 164, 'Ciencia ficción', True, 'es, en'],
 [64, 'Alien', 1979, 117, 'Ciencia ficción', True, 'es, en'],
 [65, 'Aliens', 1986, 137, 'Ciencia ficción', True, 'es, en'],
 [66, 'The Terminator', 1984, 107, 'Acción', True, 'es, en'],
 [67, 'Terminator 2: Judgment Day', 1991, 137, 'Acción', False, 'es, en'],
 [68, 'Rocky', 1976, 120, 'Drama', False, 'es, en'],
 [69, 'Raging Bull', 1980, 129, 'Biografía', True, 'es, en'],
 [70, 'Taxi Driver', 1976, 113, 'Drama', True, 'es, en'],
 [71, 'Casablanca', 1942, 102, 'Romance', False, 'es, en'],
 [72, 'Citizen Kane', 1941, 119, 'Drama', False, 'es, en'],
 [73, 'Psycho', 1960, 109, 'Terror', True, 'es, en'],
 [74, 'Vertigo', 1958, 128, 'Suspense', False, 'es, en'],
 [75, 'Rear Window', 1954, 112, 'Suspense', False, 'es, en'],
 [76, '12 Angry Men', 1957, 96, 'Drama', False, 'es, en'],
 [77, "Schindler's List", 1993, 195, 'Drama', True, 'es, en'],
 [78, 'American Beauty', 1999, 122, 'Drama', True, 'es, en'],
 [79, 'No Country for Old Men', 2007, 122, 'Crimen', True, 'es, en'],
 [80, 'The Big Lebowski', 1998, 117, 'Comedia', True, 'es, en'],
 [81, 'Amélie', 2001, 122, 'Romance', False, 'es, en, fr'],
 [82, 'The Intouchables', 2011, 112, 'Drama', False, 'es, en, fr'],
 [83, 'City of God', 2002, 130, 'Crimen', True, 'es, en, pt'],
 [84, "Pan's Labyrinth", 2006, 118, 'Fantasía', True, 'es, en'],
 [85, 'Roma', 2018, 135, 'Drama', True, 'es, en'],
 [86, 'Slumdog Millionaire', 2008, 120, 'Drama', False, 'es, en'],
 [87, 'Million Dollar Baby', 2004, 132, 'Drama', True, 'es, en'],
 [88, "The King's Speech", 2010, 118, 'Biografía', False, 'es, en'],
 [89, 'Argo', 2012, 120, 'Thriller', False, 'es, en'],
 [90, 'Moonlight', 2016, 111, 'Drama', True, 'es, en'],
 [91, 'Manchester by the Sea', 2016, 137, 'Drama', True, 'es, en'],
 [92, 'Birdman', 2014, 119, 'Drama', True, 'es, en'],
 [93, 'Django Unchained', 2012, 165, 'Western', True, 'es, en'],
 [94, 'Inglourious Basterds', 2009, 153, 'Bélico', True, 'es, en'],
 [95, 'The Hateful Eight', 2015, 168, 'Western', True, 'es, en'],
 [96, 'La vita è bella', 1997, 116, 'Drama', False, 'es, en, it'],
 [97, 'Requiem for a Dream', 2000, 102, 'Drama', True, 'es, en'],
 [98, 'Memento', 2000, 113, 'Thriller', True, 'es, en'],
 [99,
  'Eternal Sunshine of the Spotless Mind',
  2004,
  108,
  'Drama',
  False,
  'es, en'],
 [100, 'Donnie Darko', 2001, 113, 'Drama', True, 'es, en']]

In [13]:
# Query de inserción
query_insert = """
INSERT INTO films (id, titulo, año, duracion, genero, adultos, subtitulos)
                              
VALUES (%s, %s, %s, %s, %s, %s, %s)
"""

In [14]:
# Ejecutar inserción
mycursor.executemany(query_insert, datos_films)
cnx.commit()

print(f"{mycursor.rowcount} registros insertados")

print(f"{mycursor.rowcount} registros insertados")

100 registros insertados
100 registros insertados

In [15]:
#Una vez terminamos el flujo de trabajo de inserción. Si dejamos de trabajar usando la connexion con SQL. Podriamos cerrarla.
mycursor.close()
cnx.close()
print('Conexión cerrada')

Conexión cerrada

NOTA_Posibles mejoras:
- Crear tabla de idiomas para los subtitulos y tabla intermedia idiomas_peliculas
- Crear tabla de genero (son datos que se repiten)

## FASE 4. Obtener información a partir de los datos.

In [16]:
# Si hemos cerrado la connexion con SQL annteriormente. Ahora debemos iniciarla de nuevo ---> Se deberá modificar el password acorde con el del usuario que ejecute el codigo. 
# Dado que hemos creado el Database en el apartado anterior. podemos ya abrir 
try:
    cnx = mysql.connector.connect(
        host='127.0.0.1',
        user='root',
        password='AlumnaAdalab',   
        database = 'films_ejercicio_2'
    )
    print('Conexión exitosa')
except Error as e:
    print('Error al conectar:', e)

Conexión exitosa

In [17]:
mycursor = cnx.cursor()
mycursor.execute("USE films_ejercicio_2") # no haría falta si en el punto anterior hemos realizado la connexión ya usando este database

¿Cuántas películas tienen una duración superior a 120 minutos?

In [18]:
query = """
SELECT COUNT(*)
FROM films
WHERE duracion > 120
"""
mycursor.execute(query)
results_duracion = mycursor.fetchall()
results_duracion

[(59,)]

¿Cuántas películas incluyen subtítulos en español?

In [19]:
query = """
SELECT COUNT(*)
FROM films
WHERE subtitulos LIKE "%ES%";
"""
mycursor.execute(query)
results_duracion = mycursor.fetchall()
results_duracion

[(100,)]

¿Cuántas películas tienen contenido adulto?

In [20]:
query = """
SELECT COUNT(*)
FROM films
WHERE adultos = 1;
"""
mycursor.execute(query)
results_duracion = mycursor.fetchall()
results_duracion

[(47,)]

¿Cuál es la película más antigua registrada en la base de datos?

In [21]:
query = """
SELECT titulo, año
FROM films
ORDER BY año
LIMIT 1
"""
mycursor.execute(query)
results_duracion = mycursor.fetchall()
results_duracion

[('Citizen Kane', 1941)]

Muestra el promedio de duración de las películas agrupado por género.

In [22]:
query = """
SELECT ROUND(AVG(duracion),2) AS promedio_duracion, genero
FROM films
GROUP BY genero;
"""

#En este caso muestro el resultado en un data frame asi vemos las columnas y sus cabeceras
df = pd.read_sql(query, cnx)
df

C:\Users\laura\AppData\Local\Temp\ipykernel_16252\1018756946.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, cnx)

    promedio_duracion           genero
0              154.29           Crimen
1              126.26            Drama
2              139.44           Acción
3              136.31  Ciencia ficción
4              139.67          Romance
5              161.00           Bélico
6              121.67         Thriller
7              128.00          Musical
8              159.80         Fantasía
9              133.00         Aventura
10             103.00        Animación
11             142.33        Biografía
12             116.57           Terror
13             120.00         Suspense
14             117.00          Comedia
15             166.50          Western

¿Cuántas películas por año se han registrado en la base de datos? Ordena de mayor a menor.

In [23]:
query = """
SELECT count(id) AS total_peliculas, año
FROM films
GROUP BY año
ORDER BY total_peliculas DESC
"""


df = pd.read_sql(query, cnx)
df

C:\Users\laura\AppData\Local\Temp\ipykernel_16252\2953748035.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, cnx)

    total_peliculas   año
0                 5  2001
1                 4  2013
2                 4  1994
3                 4  2008
4                 4  1999
5                 4  2017
6                 3  2010
7                 3  1998
8                 3  2014
9                 3  2000
10                3  1997
11                3  2009
12                3  2015
13                3  1980
14                3  2019
15                3  2012
16                3  2004
17                3  2016
18                3  2002
19                3  2003
20                3  2018
21                2  1995
22                2  2006
23                2  1993
24                2  1991
25                2  1976
26                1  1977
27                1  1990
28                1  2021
29                1  1972
30                1  1974
31                1  1985
32                1  1973
33                1  1982
34                1  1979
35                1  1986
36                1  1984
37                1  1983
38                1  1942
39                1  1941
40                1  1960
41                1  1958
42                1  1954
43                1  1957
44                1  2007
45                1  2011

In [24]:
query = """
SELECT año
FROM films
GROUP BY año
ORDER BY COUNT(*) DESC
LIMIT 1;
"""


mycursor.execute(query)
results_duracion = mycursor.fetchall()
results_duracion

[(2001,)]

Obtén un listado de todos los géneros y cuántas películas corresponden a cada uno.

In [25]:
query = """
SELECT genero, count(id)
FROM films
GROUP BY genero
"""


df = pd.read_sql(query, cnx)
df

C:\Users\laura\AppData\Local\Temp\ipykernel_16252\469406158.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, cnx)

             genero  count(id)
0            Crimen          7
1             Drama         27
2            Acción          9
3   Ciencia ficción         13
4           Romance          3
5            Bélico          2
6          Thriller          6
7           Musical          1
8          Fantasía          5
9          Aventura          3
10        Animación          9
11        Biografía          3
12           Terror          7
13         Suspense          2
14          Comedia          1
15          Western          2

Muestra todas las películas cuyo título contenga la palabra "Godfather" (puedes usar cualquier palabra).

In [26]:
query = """
SELECT titulo
FROM films
WHERE titulo LIKE '%GODFATHER%';
"""


mycursor.execute(query)
results_duracion = mycursor.fetchall()
results_duracion

[('The Godfather',), ('The Godfather Part II',)]